/* admin.css */

/* Admin Container */
.admin-container {
  display: flex;
  height: 100vh;
}

/* Sidebar */
.sidebar {
  width: 250px;
  background-color: #333;
  color: #fff;
  padding: 20px;
}

.sidebar h2 {
  margin-bottom: 20px;
  color: #fff;
}

.sidebar-menu ul {
  list-style: none;
  padding: 0;
  margin-bottom: 20px;
}

.sidebar-menu li {
  margin-bottom: 10px;
}

.sidebar-menu a {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 10px;
}

.sidebar-menu a:hover {
  background-color: #555;
}

/* Main Content Area */
.main-content {
  flex-grow: 1;
  padding: 20px;
}

.main-content h1 {
  margin-bottom: 20px;
}
.sidebar-logout button{
 background-color: #444;
 color: #fff;
 border: none;
 padding: 10px 20px ;
 cursor: pointer;
}

.sidebar-logout button i{
  margin-right: 5px;
}
.sidebar-logout{
  position: absolute;
  bottom: 20px;
  left: 20px;
}